<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sterge rezervare</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sterge rezervare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('rezervari') }}">Lista rezervari</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('adauga_rezervare') }}">Adauga rezervare noua</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost/">Home</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Sterge rezervare</h1>
    <form action="{{ url_for('sterge_rezervare') }}" method="post">
        <div class="form-group">
            <label for="rezervare-select">Selecteaza o rezervare pentru stergere:</label>
            <select class="form-control" id="rezervare-select" name="rezervareId">
                {% for rezervare in rezervari %}
                <option value="{{ rezervare.id }}">ID: {{ rezervare.id }} Utilizator: {{ rezervare.utilizator.first_name + ' ' + rezervare.utilizator.last_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Sterge</button>
    </form>
</div>
</body>
</html>
