<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sterge o carte</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sterge o carte</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('lista_carti') }}">Lista carti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('adauga_carte') }}">Adauga o carte noua</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Sterge o carte</h1>
  <form action="{{ url_for('sterge_carte') }}" method="post">
    <div class="form-group">
      <label for="book-select">Selecteaza o carte pentru stergere:</label>
      <select class="form-control" id="book-select" name="bookId">
        {% for book in books %}
        <option value="{{ book.id }}">{{ book.book_name }} Autor: {{ book.autor.nume }} {{ book.autor.prenume }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-danger">Sterge</button>
  </form>
</div>
</body>
</html>
